<h1>Add character page!</h1>
<form method="GET" action="/character/confirm">
	<label for="name">Search for a Lord of the Rings Character:</label>
	<br>
	<input id="character-search-field" type="text" name="name" placeholder="Enter Character Name">
	<input class="btn btn-primary" type="submit" value="Enter">
</form>