<h1>Add character page!</h1>
<form method="GET" action="/character/confirm">
	<label for="name">LOTR Character Search:</label>
	<input type="text" name="name" placeholder="Enter Character Name">
	<input type="submit" value="Enter">
</form>