<h1 class="profile-text">Room's Page</h1>
<form class="form-row"method="POST" action="/rooms/">
	<div class="col-4"></div>
	<div class="col-sm-auto">
		<input class="form-control" type="text" name="name">
	</div>
	<div class="col-sm-auto">
		<input class="btn btn-dark" type="submit" value="Enter Room Name">
	</div>
</form>