.alert {
	border-radius: 10px;
	box-shadow: .1em .1em hotpink;
}

.red {
	color: white;
	background-color: red;
}

.profile-text{
	text-align: center;
}
.green {
	color: white;
	background-color: green;
}
.message-row {
	padding: 0 0;
	margin-bottom: 0;
}
.message-img{
	padding: 0 0;
	width: 25px;
}
.profile-quotes {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
#character-search-field {
	width: 300px;
}
#quote-list {
	margin-top: 10px;
	height: 270px;
	overflow: auto;
	padding: 0;
	list-style-type: none;
}
#messages {
	height: 400px;
	background-color: #dedede;
	list-style: none;
	overflow: auto;
}
ul {
	list-style: none;
}