.alert {
	border-radius: 10px;
	box-shadow: .1em .1em hotpink;
}

.red {
	color: white;
	background-color: red;
}

.profile-text{
	text-align: center;
}
.green {
	color: white;
	background-color: green;
}
.profile-quotes {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
#character-search-field {
	width: 300px;
}
#messages {
	height: 400px;
	background-color: grey;
	list-style: none;
	overflow: auto;
}
ul {
	list-style: none;
}